/* 1 example width */
/* @media (max-width: 750px) {
    .block {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .block:nth-child(3) {
        display: none;
    }
} */

/* 2 example direction */
/* @media (max-width: 750px) {
    .section-wraper-boxes {
        flex-direction: column;
        align-items: center;
    }
    .block {
        margin-bottom: 30px;
    }

} */

/* 2 example wrap */
@media (max-width: 500px) {
    .section-wraper-boxes {
        justify-content: center;
    }
}


/* images example */
@media (max-width: 1024px) {
    /* .images-flex {
        flex-direction: column;
        align-items: center;
    } */
    .images-flex {
        flex-wrap: wrap;
    }
}


@media (max-width: 768px) {
    .image-block {
        width: 48%;
    }
}
@media (max-width: 480px) {
    .image-block {
        width: 100%;
    }
}

/* header responsive */
@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    .burger-bar-icon {
        display: block;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 100px;
    }
}

/* section#1 responsive */
@media (max-width: 1024px) {
    .section-div-wraper {
        flex-direction: column;
    }
}
@media (max-width: 700px) {
    .title-section {
        font-size: 35px;
    }
}

@media (max-width: 370px) {
    .blue-box {
        width: 150px;
    }
}