/* header styles */
.header-wraper-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav-ul {
    display: flex;
}
.nav-li {
    margin-right: 36px;
}

/* section#1 styles */
.left-block {
    background-color: lightblue;
    max-width:600px;
    width: 100%;
}
.right-block {
    background-color: blueviolet;
    max-width: 600px;
    width: 100%;
}
.section-div-wraper {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.title-section {
    font-size: 78px;
}
.container-block {
    max-width: 1200px;
    width:80%;
    margin:0 auto;
    background-color: cadetblue;
}
.image-block1 {
    width: 100%;
}
.blue-box {
    background-color: #3D37F1;
    width: 264px;
    height: 77px;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave {
    margin-left: 25px;
}

/* section#2 styles */
.block {
    width: 250px;
    height: 250px;
}
.block:nth-child(1) {
    background-color: red;
}
.block:nth-child(2) {
    background-color: blue;
}
.block:nth-child(3) {
    background-color: yellow;
}
.section-wraper-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* images section styles */
.images-flex {
    display: flex;
    justify-content: space-between;
}
.image-block {
    width: 250px;
}
.image-block img {
    width: 100%;
    display: block;
}

/* container test */
.container-test {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
    background-color: red;
}


/* icons fontawesome */
.fa-facebook {
    color: blue;
    font-size: 30px;
}
.youtube-icon {
    color: red;
    font-size: 30px;
}
.fa-facebook:hover {
    color: yellow;
}
.burger-bar-icon {
    font-size: 35px;
    color: red;
    display: none;
}

.logo {
    width: 195px;
}